# Ambientes virtuais
/venv/
/.venv/
/env/
/.env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDEs
.vscode/
.idea/

# Dados gerados pela aplicação (se usar o fallback)
/estudos_data/