[Desktop Entry]
Name=Gerenciador de Estudos (dialog)
Comment=Um gerenciador simples para seus estudos e livros
Exec=GerenciadorDeEstudos
Icon=icone.ico
Terminal=false
Type=Application
Categories=Utility;