name: Build cross-platform executables

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # permite rodar manualmente

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: gerenciador_estudos-linux
            exe_suffix: ""
          - os: windows-latest
            artifact_name: gerenciador_estudos-win
            exe_suffix: ".exe"
          - os: macos-latest
            artifact_name: gerenciador_estudos-macos
            exe_suffix: ""

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .  # instala o projeto local
          pip install pyinstaller

      - name: Build executable with PyInstaller
        run: |
          if ($env:RUNNER_OS -eq "Windows") {
            pyinstaller src/gerenciador_estudos/__main__.py --name gerenciador_estudos.exe --onefile --noconsole --icon src/assets/icone.ico
          }
          elseif ($env:RUNNER_OS -eq "macOS") {
            pyinstaller src/gerenciador_estudos/__main__.py --name gerenciador_estudos --onefile --noconsole --icon src/assets/icone.icns
          }
          else {
            pyinstaller src/gerenciador_estudos/__main__.py --name gerenciador_estudos --onefile --noconsole
          }


      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: dist/gerenciador_estudos${{ matrix.exe_suffix }}
